@import "tailwindcss";

/* Twoje “źródłowe” zmienne RGB */
:root {
  /* base */
  --body: 42 63 80; /* #2A3F50 */

/* PRIMARY (lewa kolumna – granat) */
--primary: 76 0 0; /* #4C0000 */
--p-hover: 51 0 0; /* #04062D */

/* PRIMARY (ciemnoczerwony) */

--p-50: 238 143 143;   /* #EE8F8F */
--p-100: 220 107 107;  /* #DC6B6B */
--p-200: 187 72 72;    /* #BB4848 */
--p-300: 149 41 41;    /* #952929 */
--p-400: 113 19 19;    /* #711313 */
--p-500: 76 0 0;       /* #4C0000 */
--p-600: 63 0 0;       /* #3F0000 */
--p-700: 51 0 0;       /* #330000 */
--p-800: 38 0 0;       /* #260000 */
--p-900: 25 0 0;       /* #190000 */
--p-dark: 15 0 0;      /* #0F0000 */

--action: rgb(76, 0, 0);

/* SECONDARY (czerwony) */

--secondary: 241 95 95; /* #F15F5F */
--s-hover: 201 79 79;   /* #C94F4F */
--s-50: 252 223 223;   /* #FCDFDF */
--s-100: 250 202 202;  /* #FACACA */
--s-200: 248 175 175;  /* #F8AFAF */
--s-300: 246 148 148;  /* #F69494 */
--s-400: 243 122 122;  /* #F37A7A */
--s-500: 241 95 95;    /* #F15F5F */
--s-600: 201 79 79;    /* #C94F4F */
--s-700: 161 63 63;    /* #A13F3F */
--s-800: 121 48 48;    /* #793030 */
--s-900: 80 32 32;     /* #502020 */
--s-dark: 48 19 19;    /* #301313 */

  /* neutrals / fixed backgrounds */
  --gray: #2a3f50;
  --bg: #480000;
  --bg-light: #F7EEE5;
  --bg-lighter: #E9F8F3;
  --bg-brand: #002704;
  --bg-dark: #0F0000;
}

@theme {
  /* base */
  --color-body: rgb(var(--body));

  /* primary */
  --color-primary: rgb(var(--primary));
  --color-primary-hover: rgb(var(--p-hover));
  --color-primary-50: rgb(var(--p-50));
  --color-primary-100: rgb(var(--p-100));
  --color-primary-200: rgb(var(--p-200));
  --color-primary-300: rgb(var(--p-300));
  --color-primary-400: rgb(var(--p-400));
  --color-primary-500: rgb(var(--p-500));
  --color-primary-600: rgb(var(--p-600));
  --color-primary-700: rgb(var(--p-700));
  --color-primary-800: rgb(var(--p-800));
  --color-primary-900: rgb(var(--p-900));
  --color-primary-dark: rgb(var(--p-dark));

  /* secondary */
  --color-secondary: rgb(var(--secondary));
  --color-secondary-hover: rgb(var(--s-hover));
  --color-secondary-100: rgb(var(--s-100));
  --color-secondary-200: rgb(var(--s-200));
  --color-secondary-300: rgb(var(--s-300));
  --color-secondary-400: rgb(var(--s-400));
  --color-secondary-500: rgb(var(--s-500));
  --color-secondary-600: rgb(var(--s-600));
  --color-secondary-700: rgb(var(--s-700));
  --color-secondary-800: rgb(var(--s-800));
  --color-secondary-900: rgb(var(--s-900));
  --color-secondary-dark: rgb(var(--s-dark));

  /* third */
  --color-third: rgb(var(--third));
  --color-third-hover: rgb(var(--t-hover));
  --color-third-100: rgb(var(--t-100));
  --color-third-200: rgb(var(--t-200));
  --color-third-300: rgb(var(--t-300));
  --color-third-400: rgb(var(--t-400));
  --color-third-500: rgb(var(--t-500));
  --color-third-600: rgb(var(--t-600));
  --color-third-700: rgb(var(--t-700));
  --color-third-800: rgb(var(--t-800));
  --color-third-900: rgb(var(--t-900));
  --color-third-dark: rgb(var(--t-dark));

  --color-gray: var(--gray);
  --color-action: var(--action);

  --color-page: var(--bg);
  --color-background-light: var(--bg-light);
  --color-background-brand: var(--bg-brand);
  --color-background-dark: var(--bg-dark);

  --color-primary-light: var(--color-primary-300);
  --color-primary-lighter: var(--color-primary-100);

  --color-secondary-light: var(--color-secondary-300);
  --color-secondary-lighter: var(--color-secondary-100);

  --color-muted: var(--color-secondary-500);
  --gradient: linear-gradient(90deg, #132A23 0%, #0D3F2F 100%);
  --gradient-light: linear-gradient(-90deg, #0E3A2D 0%, #0A533D 100%);
  --gradient-s: linear-gradient(-90deg, #DE855D 0%, #D37A51 100%);

}


@source "../views/";
@source "../../app/";

@import "../css/variables.scss";

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@layer base {
/*-- USED ---*/
@import '../css/blocks/hero.scss';
@import '../css/blocks/counter.scss';
@import '../css/blocks/home-about.scss';
@import '../css/blocks/cards.scss';
@import '../css/blocks/text.scss';
@import '../css/blocks/experts.scss';
@import '../css/blocks/partners-block.scss';
@import '../css/blocks/hero-sub.scss';
@import '../css/blocks/bottom-block.scss';
@import '../css/blocks/text-image.scss';
@import '../css/blocks/two-columns.scss';
@import '../css/blocks/numbers.scss';
@import '../css/blocks/invitation.scss';
@import '../css/blocks/speakers.scss';
@import '../css/blocks/hero-bg.scss';
@import '../css/blocks/table.scss';
@import '../css/blocks/text-text.scss';
@import '../css/blocks/info.scss';
@import '../css/blocks/gallery.scss';
@import '../css/blocks/connect.scss';
@import '../css/blocks/contact.scss';
@import '../css/blocks/duo.scss';
@import '../css/blocks/tailored.scss';
@import '../css/blocks/workshops.scss';
@import '../css/blocks/reach.scss';
@import '../css/blocks/text-tiles.scss';
@import '../css/blocks/tiles.scss';
@import '../css/blocks/agenda.scss';


/*-- NOT USED --*/
@import '../css/blocks/hero-offer.scss';

@import '../css/blocks/text-image.scss';
@import '../css/blocks/opinion.scss';
@import '../css/blocks/area-block.scss';
@import '../css/blocks/offer-cards-block.scss';
@import '../css/blocks/cases.scss';
@import '../css/blocks/reviews.scss';
@import '../css/blocks/offer.scss';
@import '../css/blocks/history.scss';
@import '../css/blocks/category-posts.scss';
@import '../css/blocks/accordion.scss';
@import '../css/blocks/cases-slider.scss';
@import '../css/blocks/proces.scss';
@import '../css/blocks/steps.scss';
@import '../css/blocks/path.scss';
}